
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(135deg, #618264, #B0d9b1, #ffffff);
        background-size: 400% 400%;
        animation: wave 10s ease infinite;
    }
    @keyframes wave {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }

.container {
    max-width: 800px;
    margin: auto;

}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 94%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.table-container {
    max-height: 480px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
td{
    background-color: #f2f2f2;
}
