@media only screen and (max-width: 767px) {
    body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(135deg, #618264, #B0d9b1, #ffffff);
        background-size: 400% 400%;
        animation: wave 10s ease infinite;
    }

    @keyframes wave {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }


}
