/* 全局样式 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 容器樣式 */
.container {
    width: 100%;
    max-width: 400px;
    flex-direction: row-reverse;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 左侧菜單欄 */
.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 50px 0;
    width: 100%;
    height: 25%;
}

/* 按鈕設計 */
.menu-button {
    background-color: #f1f1f1;
    border: none;
    border-radius: 8px;
    padding: 10px;
    height: 100px;
    width: 100px;
    cursor: pointer;

    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.menu-button span {
    font-size: 19px;
}

.menu-button:hover {
    background-color: #e8f5e9;
    transform: translateX(5px);
    /* 增加轻微的滑动效果 */
}

/* 按鈕圖形 */
.icon {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    object-fit: contain;
    /* 防止圖片拉伸變形 */
}

/* Logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.logo h1 {
    font-style: italic;
    margin: 0;
    font-size: 50px;
    color: #333;
}

.logo p {
    margin: 0;
    font-size: 18px;
    font-style: italic;
    color: #666;
}

/* 日期區 */
.date {
    margin: 10px 0;
    font-size: 30px;
    color: #333;
}

/* 手機螢幕設計 */
@media (max-width: 767px) {
    .container {
        width: 95%;
        height: 100%;
    }

    .menu {
        width: 180px;
    }

    .menu-button {
        font-size: 30px;
        padding: 10px 15px;
    }

    .logo {
        top: 10px;
        right: 10px;
    }
}