body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #b4d9a5, #94c49f);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 400px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 2px solid #68a063;
    border-radius: 8px;
    overflow: hidden;
}

.search-bar input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
}

.search-bar button {
    background-color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

form {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-placeholder {
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    display: block;
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #333;
}