@media only screen and (max-width: 767px) {
    body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(135deg, #618264, #B0d9b1, #ffffff);
        background-size: 400% 400%;
        animation: wave 10s ease infinite;
        margin: 0;
    }

    @keyframes wave {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    /* 容器 */
    .container {
        width: 90%;
        max-width: 400px;
        text-align: center;
        position: relative;
    }

    /* アイコン */
    .avatar-container {
        position: relative;
        width: 120px;
        height: 120px;
        margin: 0 auto 20px;
    }

    .avatar {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .upload-button {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #3498db;
        border: none;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .upload-button:hover {
        background-color: #2980b9;
    }

    .upload-button img {
        width: 20px;
        height: 20px;
    }

    input[type="file"] {
        display: none;
    }

    .input-field {
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #000;
        font-size: 16px;
        background-color: transparent;
    }

    /* 表单区域 */
    .form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 30px;
    }

    .form label {
        font-size: 18px;
        font-weight: bold;
        text-align: left;
    }

    .form input {
        border: none;
        border-bottom: 2px solid #333;
        padding: 8px;
        font-size: 16px;
        outline: none;
        background: transparent;
    }

    .save {
        margin-top: 100px;
    }

    .save-button {
        border: 2px solid #ccc;
        border-radius: 50%;
        padding: 0;
        width: 150px;
        height: 90px;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        align-self: center;
    }

    .save-button:hover {
        background-color: #c2e7c2;
        border-color: #3498db;
    }

    .save-button img {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
}