@media only screen and (max-width: 767px) {
    body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(135deg, #618264, #B0d9b1, #ffffff);
        background-size: 400% 400%;
        animation: wave 10s ease infinite;
    }

    @keyframes wave {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }

    .register-form {
        padding: 20px;
        border-radius: 8px;
        width: 300px;
        display: flex;
        flex-direction: column;
        /* background-color: rgba(255, 255, 255, 0.9); */
    }
    .register-form h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .register-form label {
        display: block;
        margin-bottom: 5px;
    }
    .register-form input {
        font-weight: bold;
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    .register-form button {
        background-color: #d2e7d3;
        border: 2px solid #ccc; 
        border-radius: 60%;
        padding: 15px; 
        cursor: pointer; /* Con trỏ tay khi di chuột */
        display: inline-flex; /* Hiển thị dạng khối và canh giữa ảnh */
        justify-content: center; /* Canh giữa ảnh theo chiều ngang */
        align-items: center; /* Canh giữa ảnh theo chiều dọc */
        transition: 0.3s; /* Hiệu ứng chuyển đổi mượt */
        margin-bottom: 10px;
    }

    /* .register-form button:hover {
        background-color: #2980b9;
    } */
}
