@media only screen and (max-width: 767px) {
    body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(135deg, #618264, #B0d9b1, #ffffff);
        background-size: 400% 400%;
        animation: wave 10s ease infinite;
        margin: 0;
    }

    @keyframes wave {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }

    .register-form {
        padding: 20px;
        border-radius: 8px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .register-form h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .register-form input {
        font-weight: bold;
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }

    .register-form button {
        /* background-color: #d2e7d3; */
        
        border: 2px solid #ccc; 
        border-radius: 50%;
        padding: 0; 
        width: 150px; 
        height: 90px;
        cursor: pointer;
        display: inline-flex; /* Giữ kích thước dựa trên nội dung */
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        align-self: center; /* Giới hạn nút chỉ canh giữa theo form */
    }

    .register-form button img {
        width: 50px; 
        height: 50px;
    }

    .register-form button:hover {
        background-color: #c2e7c2;
        border-color: #3498db;
    }

    /*mark*/
    /* StoreRegister.css */

.loading {
    display: none; /* Ẩn spinner theo mặc định */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; /* Đảm bảo spinner hiển thị trên cùng */
}

.checkmark {
    display: none; /* Ẩn dấu checkmark theo mặc định */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; /* Đảm bảo checkmark hiển thị trên cùng */
    font-size: 48px; /* Kích thước dấu checkmark */
    color: green; /* Màu sắc dấu checkmark */
}

}
