.product-slider {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex; /* Đảm bảo các sản phẩm hiển thị ngang hàng */
    overflow-x: auto; /* Cho phép cuộn ngang để xem các sản phẩm */
    white-space: nowrap; /* Ngăn các mục xuống hàng */
  }
  
  .product-item {
    position: relative;
    width: 350px; /* Chiều rộng tùy ý */
    height: 200px; /* Chiều cao tùy ý */
    flex-shrink: 0; /* Ngăn không cho các mục thu nhỏ khi không đủ không gian */
    margin-right: 10px; /* Khoảng cách giữa các mục */
    border: 1px solid #ccc; /* Viền cho mục */
    box-sizing: border-box; /* Bao gồm padding và border trong kích thước tổng */
  }
  
  .product_type_img {
    width: 100%;
    height: 75%; /* Chỉ chiếm 75% chiều cao của .product-item */
    object-fit: cover; /* Đảm bảo hình ảnh phù hợp và đầy đủ không gian mà không méo */
  }
  
  .product-description {
    position: absolute;
    bottom: 0; /* Đặt ở cuối của .product-item */
    width: 100%; /* Chiều rộng bằng với .product-item */
    height: 25%; /* Chiếm 25% chiều cao của .product-item */
    background-color: white; /* Màu nền */
    display: flex;
    align-items: center; /* Căn giữa nội dung theo chiều dọc */
    justify-content: center; /* Căn giữa nội dung theo chiều ngang */
    font-size: 16px; /* Kích thước phông chữ */
    color: black; /* Màu chữ */
    text-align: center; /* Căn giữa chữ */
  }
  