/* Store Information Section */
/* Logo Section */
.logo {
    text-align: center;
}

.logo img {
    width: 250px; 
    height: auto;
}

.store-info {
    color: #333;
}

/* About Store Section */
.about-store {
    text-align: left; 
    margin: 0 30px 0 30px;
}

.about-store h2 {
    font-size: 18px;
    /* margin-bottom: 10px; */
}

.about-store p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Social Media Section */
.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
}